div img {
    width: 20%;
}
body{
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    max-width: 640px;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    width: auto;
    margin: auto;
}
button{
    width: auto;
    margin: auto;
}
img{
    width: 100%;
}
/*over mobile size*/
@media screen and (min-width: 640px) {
    form{
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 20px;

    }
}